@page "/account"
@using TheBeerGame.Client.Data

@attribute [Authorize]


@inject GameLobbyService GameLobbyService;

<h3>Account</h3>

@code {


    protected override async Task OnInitializedAsync()
    {


    }

}
